<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Usuario</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/estilos.css}">
  <link rel="stylesheet" th:href="@{/animac.css}">
</head>
<body>

  <div class="container fondo-difuminado text-center mt-5">
    <h2>Bienvenido, <span th:text="${usuario.primerNombre + ' ' + usuario.primerApellido}"></span></h2>
   
    <h1 class="text-white">Panel de Usuario</h1>
    <p class="text-white">Aquí podrás consultar tu malla de turnos y reportar novedades.</p>

    <div class="d-grid gap-2 col-6 mx-auto mt-4">
      <a th:href="@{/malla}" class="btn btn-outline-primary btn-block">Consultar Malla de Turnos</a>
      <a th:href="@{/reporte_novedades}" class="btn btn-outline-success btn-block">Reportar Novedades</a>
      <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-danger mt-2">Cerrar sesión</button>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>