@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animación para barra de progreso del Toast */
@keyframes progress-bar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-progress-bar {
  animation: progress-bar linear forwards;
}