@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/theme2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.seccion-bienvenida {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.seccion-bienvenida h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.seccion-bienvenida p {
  font-size: 1.1rem;
  font-style: italic;
}

.logo-grande {
  max-width: 200px;
  margin-bottom: 1rem;
}

.logo-pequeno {
  width: 60px;
  margin-bottom: 1rem;
}

.fondo-difuminado {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 10px;
  color: white;
}

.contenedor-login {
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;
}